#gridwrapper {
    border: 1px dashed #666;
    min-height: 192px;
    min-width: 192px;
    overflow: auto;
	margin: auto;
}

.gridsquare {
    float: left;
    border: none;
    background-color: #000;
    height: 12px;
    width: 12px;
    /*border: none;*/
    padding: 0 0 0 0;
    /*margin: 0 0 0 0;*/
}

.newrow {
    clear: both;
}